@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Comico";
  src: url("/fonts/Comico.otf");
}
@font-face {
  font-family: "Winkle";
  src: url("/fonts/Winkle.ttf");
}
:root {
  --primary: #eb214d;
  --primary-light: #ff4e6b;
  --primary-dark: #b80f37;
  --secondary: #6b15db;
  --secondary-light: #a64bff;
  --secondary-dark: #4c0f9d;
  font-size: 1.1rem;
}
* {
  font-family: "Jost", sans-serif;
}
.move {
  animation: bounce 5.5s ease-in-out infinite; /* Adjusted duration and timing function */
}
.comico {
  font-family: "Comico", sans-serif !important;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Bounce upwards */
  }
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: red;
  transform-origin: 0%;
}
.btn {
  @apply cursor-pointer bg-white px-3 py-1 text-black;
  box-shadow: black 6px 6px 0px 1px;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  box-shadow: black 0px 0px 0px 0px;
}
.input {
  @apply border border-black bg-white/25 p-3;
}
